/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

/* @import "~bootstrap-icons/font/bootstrap-icons.css"; */

a {
  color: white;
}

code {
  color: #e01a76;
}

/* .navbar {
  color: white;
  background-color: #3b3b3b;
}

.navbar-toggler {
  color: #399494;
}

.navbar-toggler-icon {
  background-color: #ffffff;
} */


body {
  background-color: #242424;
  font-family: 'Space Mono', monospace;
}

.card {
  color: white;
  background-color: #3b3b3b;
}

.list-group-item {
  color: white;
  background-color: #3b3b3b;
}

.btn-secondary {
  color: #fff;
  background-color: #399494;
  border-color: #317373;
}

.btn-success {
  color: #fff;
  background-color: #73ac31;
  border-color: #526229;
}


.btn-danger {
  color: #fff;
  background-color: #ee2039;
  border-color: #ac0031;
}

.border-success {
  border-color: #73ac31;
}

.border-danger {
  border-color: #ee2039;
}

.border-secondary {
  border-color: #399494;
}

#formtext {
  border-color: #317373;
  border-radius: 5px;
  border-width: 5px;
  border-style: solid;
  margin-top: 10px;
  padding: 10px;
}

#formbutton {
  color: #fff;
  background-color: #399494;
  border-color: #317373;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

#formtextStonkList {
  border-color: #317373;
  border-radius: 5px;
  border-width: 5px;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}

#formbuttonStonkList {
  color: #fff;
  background-color: #399494;
  border-color: #317373;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
  
#formtextModal {
  width: 60%;
  border-color: #317373;
  border-radius: 5px;
  border-width: 5px;
  border-style: solid;  
  margin: 10px;
  padding: 10px;
}

#formbuttonModal {
  color: #fff;
  background-color: #399494;
  border-color: #317373;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}