<p *ngIf="displayStonk.tickers.length == 0">stonk not found</p>
<button *ngIf="displayStonk.tickers.length == 0" routerLink="/Stonks">
  Find a real stock
</button>
<h2>
  {{ displayStonk.tickers[0].ticker }}
  <br />
  Current Price: ${{ displayStonk.tickers[0].day.c }}
  <br />
  Opening Price: ${{ displayStonk.tickers[0].day.o }}
  <br />
  Today's change:
  {{
    (displayStonk.tickers[0].day.c - displayStonk.tickers[0].day.o).toFixed(2)
  }}
  Change from yesterday's price: ${{
    displayStonk.tickers[0].todaysChange
  }}
  which is: {{ displayStonk.tickers[0].todaysChangePerc }}%
</h2>
<button (click)="addWatchingStock()" *ngIf="!getWatching()">Watch</button>
<button
  (click)="removeWatchingStock()"
  *ngIf="getWatching()"
  routerLink="/WatchList"
>
  Stop Watching
</button>
<form
  *ngIf="displayStonk.tickers[0].day.c > 0"
  #purchaseStockForm="ngForm"
  (ngSubmit)="purchaseStock(purchaseStockForm)"
>
  <input type="number" name="quantity" min="1" ngModel />
  <button>Purchase</button>
</form>
<form
  *ngIf="displayStonk.tickers[0].day.c > 0"
  #sellStockForm="ngForm"
  (ngSubmit)="sellStock(sellStockForm)"
>
  <input type="number" name="quantity" min="1" ngModel />
  <button>Sell</button>
</form>

<p *ngIf="displayStonk.tickers[0].day.c == 0">
  Come back later to trade this company
</p>
