<h2>
  {{ displayStonk.tickers[0].ticker }}
  <br />
  Current Price: ${{ displayStonk.tickers[0].day.c }}
  <br />
  Opening Price: ${{ displayStonk.tickers[0].day.o }}
  <br />
  Today's Change: ${{ displayStonk.tickers[0].todaysChange }} which is:
  {{ displayStonk.tickers[0].todaysChangePerc }}%
</h2>
<button (click)="addWatchingStock()" *ngIf="!getWatching()">Watch</button>
<button
  (click)="removeWatchingStock()"
  *ngIf="getWatching()"
  routerLink="/WatchList"
>
  Stop Watching
</button>
