<div *ngIf="loggedIn">
  <div
    *ngFor="let s of stonk.tickers"
    style="text-align: center"
    class="row justify-content-center"
  >
    <div
      *ngIf="s.day.o <= s.day.c"
      class="card col col-sm-6 shadow border border-success m-2 p-0"
    >
      <div class="card-header d-flex flex-row justify-content-between">
        <h3>{{ s.ticker }}</h3>
        <h3>${{ numberWithCommas(s.day.c) }}</h3>
        <div>
          <span>+${{ numberWithCommas(s.day.c - s.day.o) }}</span>
          <span id="icon" class="material-symbols-outlined"> trending_up </span>
        </div>
      </div>
      <div>
        <button
          type="button"
          class="btn btn-success m-2"
          routerLink="/StonkDetails/{{ s.ticker }}"
        >
          Details
        </button>
        <button
          (click)="removeWatchingStock(s.ticker)"
          type="button"
          class="btn btn-secondary"
        >
          Stop Watching
        </button>
      </div>
    </div>
    <div
      *ngIf="s.day.o > s.day.c"
      class="card col col-sm-6 shadow border border-danger m-2 p-0"
    >
      <div class="card-header d-flex flex-row justify-content-between">
        <h3>{{ s.ticker }}</h3>
        <h3>${{ numberWithCommas(s.day.c) }}</h3>
        <div>
          <span>-${{ numberWithCommas(s.day.o - s.day.c) }}</span>
          <span id="icon" class="material-symbols-outlined">
            trending_down</span
          >
        </div>
      </div>
      <div>
        <button
          type="button"
          class="btn btn-danger m-2"
          routerLink="/StonkDetails/{{ s.ticker }}"
        >
          Details
        </button>
        <button
          (click)="removeWatchingStock(s.ticker)"
          type="button"
          class="btn btn-secondary"
        >
          Stop Watching
        </button>
      </div>
    </div>
  </div>
  <div
    *ngIf="!isEmpty"
    style="text-align: center"
    class="row justify-content-center"
  >
    <div class="card col col-sm-6 shadow border border-secondary m-2 p-0">
      <p>Add stocks from the Stock List</p>
    </div>
  </div>
</div>
