<div *ngIf="loggedIn">
  <div class="row justify-content-center">
    <div
      class="card col col-sm-10 col-md-8 col-lg-6 shadow border border-dark m-2 p-2"
    >
      <div *ngIf="editModeUserName == false && editModeProfilePicture == false">
        <div class="row align-items-center g-0">
          <div class="col-4">
            <img
              height="100px"
              src="{{ profilePicture }}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title mb-2">{{ profileName }}</h5>
              <p class="card-text">
                Current Cash: ${{ numberWithCommas(currentCash) }}
              </p>
              <p class="card-text">
                Portfolio Value: ${{ numberWithCommas(portfolioValue) }}
              </p>
              <button
                class="btn btn-secondary m-1"
                (click)="toggleEditUserName()"
              >
                Edit Username
              </button>
              <button
                class="btn btn-secondary m-1"
                (click)="toggleEditProfilePicture()"
              >
                Edit Profile Picture
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="editModeUserName" style="text-align: center">
        <form
          #SaveChanges="ngForm"
          (ngSubmit)="saveChanges(SaveChanges)"
          (ngSubmit)="toggleEditUserName()"
        >
          <input
            id="formtext"
            type="text"
            name="profileName"
            placeholder="{{ profileName }}"
            ngModel
          />
          <br />
          <button id="formbutton">Update Username</button>
        </form>
        <span *ngIf="userNameExists">
          This username is taken. Please pick a different username.
        </span>
        <button id="formbutton" (click)="toggleEditUserName()">
          Back to Profile
        </button>
      </div>
      <div *ngIf="editModeProfilePicture" style="text-align: center">
        <form
          #saveNewProfilePicture="ngForm"
          (ngSubmit)="saveNewProfilePic(saveNewProfilePicture)"
          (ngSubmit)="toggleEditProfilePicture()"
        >
          <input
            id="formtext"
            type="text"
            name="profilePicture"
            placeholder="Image URL"
            ngModel
          />
          <br />
          <button id="formbutton">Update Profile Picture</button>
        </form>
        <button id="formbutton" (click)="toggleEditProfilePicture()">
          Back to Profile
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="isEmpty">
    <div
      *ngFor="let s of stonk.tickers; index as i"
      class="row justify-content-center"
      style="text-align: center"
    >
      <div
        *ngIf="s.day.o <= s.day.c"
        class="card col col-sm-10 col-md-8 col-lg-6 shadow border border-success m-2 p-0"
      >
        <div class="card-header d-flex flex-row justify-content-between">
          <h3>{{ s.ticker }}</h3>
          <h3>${{ numberWithCommas(s.day.c) }}</h3>
          <div>
            <span>+${{ numberWithCommas(s.day.c - s.day.o) }}</span>
            <span id="icon" class="material-symbols-outlined">
              trending_up
            </span>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Cost Basis: ${{
              numberWithCommas(allStonksOwnedByUser[i].purchasePrice)
            }}
          </li>
          <li class="list-group-item">
            Shares Owned: {{ allStonksOwnedByUser[i].sharesOwned }}
          </li>
          <button
            type="button"
            class="btn btn-success m-3"
            routerLink="/StonkDetails/{{ s.ticker }}"
          >
            Details
          </button>
        </ul>
      </div>
      <div
        *ngIf="s.day.o > s.day.c"
        class="card col col-sm-10 col-md-8 col-lg-6 shadow border border-danger m-2 p-0"
      >
        <div class="card-header d-flex flex-row justify-content-between">
          <h3>{{ s.ticker }}</h3>
          <h3>${{ numberWithCommas(s.day.c) }}</h3>
          <div>
            <span>-${{ numberWithCommas(s.day.o - s.day.c) }}</span>
            <span id="icon" class="material-symbols-outlined">
              trending_down
            </span>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Cost Basis: ${{
              numberWithCommas(allStonksOwnedByUser[i].purchasePrice)
            }}
          </li>
          <li class="list-group-item">
            Shares Owned: {{ allStonksOwnedByUser[i].sharesOwned }}
          </li>
          <button
            type="button"
            class="btn btn-danger m-3"
            routerLink="/StonkDetails/{{ s.ticker }}"
          >
            Details
          </button>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="!isEmpty">
    <p>Buy some stocks to get started!</p>
  </div>
</div>
<div *ngIf="!loggedIn">
  <div class="row justify-content-center">
    <div
      class="card col col-sm-10 col-md-8 col-lg-6 shadow border border-dark m-2 p-2"
    >
      Please Login with a google account to continue!
    </div>
  </div>
</div>
