<div *ngIf="loggedIn">
  <div class="row justify-content-center">
    <div class="card col col-sm-6 shadow border border-dark m-2 p-2">
      <div *ngIf="editModeUserName == false && editModeProfilePicture == false">
        <div class="row align-items-center g-0">
          <div class="col-4">
            <img
              height="100px"
              src="{{ profilePicture }}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title mb-2">{{ profileName }}</h5>
              <p class="card-text">
                Current Cash: ${{ currentCash.toFixed(2) }}
              </p>
              <p class="card-text">
                Portfolio Value: ${{ portfolioValue.toFixed(2) }}
              </p>
              <button (click)="toggleEditUserName()">Edit Username</button>
              <button (click)="toggleEditProfilePicture()">
                Edit Profile Picture
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="editModeUserName" style="text-align: center">
        <form
          #SaveChanges="ngForm"
          (ngSubmit)="saveChanges(SaveChanges)"
          (ngSubmit)="toggleEditUserName()"
        >
          <input
            type="text"
            name="profileName"
            placeholder="{{ profileName }}"
            ngModel
          />
          <button>Update Username</button>
        </form>
        <span *ngIf="userNameExists">
          This username is taken. Please pick a different username.
        </span>
        <button (click)="toggleEditUserName()">Back to Profile</button>
      </div>
      <div *ngIf="editModeProfilePicture" style="text-align: center">
        <form
          #saveNewProfilePicture="ngForm"
          (ngSubmit)="saveNewProfilePic(saveNewProfilePicture)"
          (ngSubmit)="toggleEditProfilePicture()"
        >
          <input
            type="text"
            name="profilePicture"
            placeholder="Image URL"
            ngModel
          />
          <button>Update Profile Picture</button>
        </form>
        <button (click)="toggleEditProfilePicture()">Back to Profile</button>
      </div>
    </div>
  </div>

  <!-- <div style="text-align: center" class="row justify-content-center">
    <div class="card col col-sm-6 shadow border border-dark m-2 p-2">
      <span
        *ngIf="editModeUserName == false && editModeProfilePicture == false"
      >
        <img height="100px" src="{{ profilePicture }}" />
        <p>{{ profileName }}</p>
        <p>Current Cash: ${{ currentCash.toFixed(2) }}</p>
        <p>Portfolio Value: ${{ portfolioValue.toFixed(2) }}</p>
        <button (click)="toggleEditUserName()">Edit Username</button>
        <button (click)="toggleEditProfilePicture()">
          Edit Profile Picture
        </button>
      </span>
      <span *ngIf="editModeUserName">
        <form
          #SaveChanges="ngForm"
          (ngSubmit)="saveChanges(SaveChanges)"
          (ngSubmit)="toggleEditUserName()"
        >
          <input
            type="text"
            name="profileName"
            placeholder="{{ profileName }}"
            ngModel
          />
          <button>Update Username</button>
        </form>
        <span *ngIf="userNameExists">
          This username is taken. Please pick a different username.
        </span>
        <button (click)="toggleEditUserName()">Back to Profile</button>
      </span>
      <span *ngIf="editModeProfilePicture">
        <form
          #saveNewProfilePicture="ngForm"
          (ngSubmit)="saveNewProfilePic(saveNewProfilePicture)"
          (ngSubmit)="toggleEditProfilePicture()"
        >
          <input
            type="text"
            name="profilePicture"
            placeholder="Image URL"
            ngModel
          />
          <button>Update Profile Picture</button>
        </form>
        <button (click)="toggleEditProfilePicture()">Back to Profile</button>
      </span>
    </div>
  </div> -->

  <div *ngIf="isEmpty">
    <!-- structural directive = ngfor ng if -->
    <div
      *ngFor="let s of stonk.tickers; index as i"
      class="row justify-content-center"
      style="text-align: center"
    >
      <div
        *ngIf="s.day.o <= s.day.c"
        class="card col col-sm-6 shadow border border-success m-2 p-0"
      >
        <div class="card-header d-flex flex-row justify-content-around">
          <h3>{{ s.ticker }} - ${{ s.day.c.toFixed(2) }}</h3>
          <div>
            <span>+${{ (s.day.c - s.day.o).toFixed(2) }}</span>
            <span id="icon" class="material-symbols-outlined">
              trending_up
            </span>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Cost Basis: ${{ allStonksOwnedByUser[i].purchasePrice.toFixed(2) }}
          </li>
          <li class="list-group-item">
            Shares Owned: {{ allStonksOwnedByUser[i].sharesOwned }}
          </li>
          <button
            type="button"
            class="btn btn-success m-3"
            routerLink="/StonkDetails/{{ s.ticker }}"
          >
            Click for Deets
          </button>
        </ul>
      </div>
      <div
        *ngIf="s.day.o > s.day.c"
        class="card col col-sm-6 shadow border border-danger m-2 p-0"
      >
        <div class="card-header d-flex flex-row justify-content-around">
          <h3>{{ s.ticker }} - ${{ s.day.c.toFixed(2) }}</h3>
          <div>
            <span>-${{ (s.day.o - s.day.c).toFixed(2) }}</span>
            <span id="icon" class="material-symbols-outlined">
              trending_down
            </span>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Cost Basis: ${{ allStonksOwnedByUser[i].purchasePrice.toFixed(2) }}
          </li>
          <li class="list-group-item">
            Shares Owned: {{ allStonksOwnedByUser[i].sharesOwned }}
          </li>
          <button
            type="button"
            class="btn btn-danger m-3"
            routerLink="/StonkDetails/{{ s.ticker }}"
          >
            Click for Deets
          </button>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="!isEmpty">
    <p>buy some stocks to get started!</p>
  </div>
</div>
