<div
  class="row row-cols-3 row-cols-sm-3 row-cols-md-5 row-cols-lg-6 justify-content-center"
>
  <div class="card shadow col m-3 p-2">
    <img
      class="card-img-top mw-100 mh-100"
      src="https://media-exp1.licdn.com/dms/image/C4D03AQGbFj_qXpPjPg/profile-displayphoto-shrink_800_800/0/1646621841149?e=1669852800&v=beta&t=ZU-Ua9rNCF5n7u7tsOnoK6vKOV0bXdxObpuSS5mK3zI"
    />
    <div class="card-body p-1">
      <h4 class="card-title fs-5">Connor</h4>
      <p class="card-text"></p>
      <a
        href="https://www.linkedin.com/in/connorwood267/"
        class="btn btn-primary"
        >LinkedIn</a
      >
      <a href="https://github.com/Woodsly" class="btn btn-primary">Github</a>
    </div>
  </div>
  <div class="card shadow col m-3 p-2">
    <img
      class="card-img-top mw-100 mh-100"
      src="https://media-exp1.licdn.com/dms/image/C4D03AQEGKWBczpi9wQ/profile-displayphoto-shrink_400_400/0/1659100704574?e=1669852800&v=beta&t=bx6G8EbKRxj73vTcAkLpKRic3nN5I28-UpvrEl6Q8pQ"
    />
    <div class="card-body p-1">
      <h4 class="card-title fs-5">Krista</h4>
      <p class="card-text"></p>
      <a
        href="https://www.linkedin.com/in/code-by-krista/"
        class="btn btn-primary"
        >LinkedIn</a
      >
      <a href="https://github.com/Knderson21" class="btn btn-primary">Github</a>
    </div>
  </div>
  <div class="card shadow col m-3 p-2">
    <img
      class="card-img-top mw-100 mh-100"
      src="https://media-exp1.licdn.com/dms/image/D4E35AQGoR3Xwja3qiA/profile-framedphoto-shrink_400_400/0/1663851978228?e=1664920800&v=beta&t=yHvYeEjFFBS_Wf385gXoTkV2FPJr-_01KlvDsCg8xEE"
    />
    <div class="card-body p-1">
      <h4 class="card-title fs-5">Matt</h4>
      <p class="card-text"></p>
      <a
        href="https://www.linkedin.com/in/matthew-fox-mi/"
        class="btn btn-primary"
        >LinkedIn</a
      >
      <a href="https://github.com/matthewfoxmi" class="btn btn-primary"
        >Github</a
      >
    </div>
  </div>
  <div class="card shadow col m-3 p-2">
    <img
      class="card-img-top mw-100 mh-100"
      src="https://media-exp1.licdn.com/dms/image/D5635AQGE5X1hyHwOng/profile-framedphoto-shrink_400_400/0/1663166827800?e=1664920800&v=beta&t=sCYCwqNfgvMxDsng62BMaiIt6IiKe6nsXUt_wlmxp20"
    />
    <div class="card-body p-1">
      <h4 class="card-title fs-5">Dan</h4>
      <p class="card-text"></p>
      <a
        href="https://www.linkedin.com/in/-daniel-schuler/"
        class="btn btn-primary"
        >LinkedIn</a
      >
      <a href="https://github.com/dandanthesoftwareman" class="btn btn-primary"
        >Github</a
      >
    </div>
  </div>
</div>
<p>about works!</p>
<div class="card">
  <a href="https://www.flaticon.com/free-icons/profile" title="profile icons"
    >Profile icons created by IYAHICON - Flaticon</a
  >
</div>
