<div *ngIf="loggedIn">
  <div class="row justify-content-center" style="text-align: center">
    <div class="col 6">
      <form
        #searchStockForm="ngForm"
        (ngSubmit)="searchForStock(searchStockForm)"
      >
        <input
          type="text"
          name="searchedStock"
          placeholder="Search for a stock"
          ngModel
        />
        <input type="submit" />
      </form>
    </div>
  </div>

  <div
    *ngFor="let s of stonk.tickers"
    class="row justify-content-center"
    style="text-align: center"
  >
    <div
      *ngIf="s.day.o <= s.day.c"
      class="card col col-sm-6 shadow border border-success m-2 p-0"
    >
      <div class="card-header d-flex flex-row justify-content-between">
        <h3>{{ s.ticker }}</h3>
        <h3>${{ s.day.c.toFixed(2) }}</h3>
        <div>
          <span>+${{ (s.day.c - s.day.o).toFixed(2) }}</span>
          <span id="icon" class="material-symbols-outlined"> trending_up </span>
        </div>
      </div>
      <div>
        <button
          type="button"
          class="btn btn-success m-2"
          routerLink="/StonkDetails/{{ s.ticker }}"
        >
          Click for Deets
        </button>
        <button
          (click)="addWatchingStock(s.ticker)"
          *ngIf="!getWatching(s.ticker)"
          type="button"
          class="btn btn-secondary"
        >
          Watch
        </button>
        <button
          (click)="removeWatchingStock(s.ticker)"
          *ngIf="getWatching(s.ticker)"
          type="button"
          class="btn btn-light"
        >
          Watching
        </button>
      </div>
    </div>
    <div
      *ngIf="s.day.o > s.day.c"
      class="card col col-sm-6 shadow border border-danger m-2 p-0"
    >
      <div class="card-header d-flex flex-row justify-content-between">
        <h3>{{ s.ticker }}</h3>
        <h3>${{ s.day.c.toFixed(2) }}</h3>
        <div>
          <span>-${{ (s.day.o - s.day.c).toFixed(2) }}</span>
          <span id="icon" class="material-symbols-outlined">
            trending_down
          </span>
        </div>
      </div>
      <div>
        <button
          type="button"
          class="btn btn-danger m-2"
          routerLink="/StonkDetails/{{ s.ticker }}"
        >
          Click for Deets
        </button>
        <button
          (click)="addWatchingStock(s.ticker)"
          *ngIf="!getWatching(s.ticker)"
          type="button"
          class="btn btn-secondary"
        >
          Watch
        </button>
        <button
          (click)="removeWatchingStock(s.ticker)"
          *ngIf="getWatching(s.ticker)"
          type="button"
          class="btn btn-light"
        >
          Watching
        </button>
      </div>
    </div>
  </div>
</div>
