<form #searchStockForm="ngForm" (ngSubmit)="searchForStock(searchStockForm)">
  <input
    type="text"
    name="searchedStock"
    placeholder="Search for a stock"
    ngModel
  />
  <input type="submit" />
</form>
<div
  *ngFor="let s of stonk.tickers"
  class="row col-6 offset-3"
  style="text-align: center"
>
  <div
    *ngIf="s.prevDay.c < s.day.c"
    class="card shadow border border-success m-2 p-3"
  >
    <div class="card-header">
      <h1>{{ s.ticker }} - ${{ s.day.c }}</h1>
    </div>

    <button
      type="button"
      class="btn btn-success"
      routerLink="/StonkDetails/{{ s.ticker }}"
    >
      Click for Deets
    </button>

    <div class="card-footer text-muted">
      <span>+${{ (s.day.c - s.day.o).toFixed(2) }}</span>
      <span class="material-symbols-outlined"> trending_up </span>
    </div>
  </div>
  <div
    *ngIf="s.prevDay.c > s.day.c"
    class="card shadow border border-danger m-2 p-3"
  >
    <div class="card-header">
      <h1>{{ s.ticker }} - ${{ s.day.c }}</h1>
    </div>
    <button
      type="button"
      class="btn btn-danger"
      routerLink="/StonkDetails/{{ s.ticker }}"
    >
      Click for Deets
    </button>
    <div class="card-footer text-muted">
      <span>-${{ (s.day.c - s.day.o).toFixed(2) }}</span>
      <span id="icon" class="material-symbols-outlined"> trending_down </span>
    </div>
  </div>
</div>
